body {
    background-color: rgb(132, 215, 212);
}

.heading {
    background-color: #e8acc7;

}

.para {
    background-color: rgba(166, 51, 170, 0.3);
    width: 50%;
    margin-left: auto;
    margin-right: auto;

    /* padding-left: 5%; */
    /* padding-right: 5%; */
    text-align: center;
    /* text-align: right; */

}

.box {
    background-color: rgb(212, 219, 76);
    width: 200px;
    height: 100px;
    font-size: 3rm;
    border-radius: 50%;
    text-align: center;

}

.heading {
   /* width: 40%; */
    /* height: 100px; */
    /margin:100px 300px 30px 50px;/
    margin: 5px 5px ;
    /* margin: 30px; */
    /* margin-left: 50px; */

    padding: 10px;
    padding: 3%;
}

/* display property */

img {
    height:200px;
    width:250px;
    border:10px solid black;  
     border-radius: 50%;
}

/* display & position */

h3 {
    display: inline;

}

div {
    width:200px;
    height:200px;
3}

.bbox1{
    background-color: red;
    position:relative;
}

.bbox2{
    background-color: blueviolet;

}
.bbox3 { 
    background-color: burlywood;
    position: relative;
    /* bottom: 30px; */
    /* left: 40px; */
    margin-block-start: 50px;

}